.DS_Store
/test-reports
/dist
node_modules
npm-debug.log
yarn-error.*
.env
*.hprof
.idea/

.watchmanconfig

.vscode
!.vscode/launch.json

# Expo
.expo/
web-build/

# Android/iOS related for react native
.gradle/
build/
local.properties
*.iml
xcuserdata/
e2e/ios/main.jsbundle
e2e/android/app/src/main/java/com/e2eoktareactnative/generated/

# General
*.swp
*.swo
*.rbo
*.gem
.DS_Store
.rbenv-version
xcuserdata
*.xcworkspace/
ReactNativeOktaSdkBridge.xcworkspace
DerivedData
/.build

# Xcode
*.xccheckout

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
