addons:
  chrome: stable

jdk:
  - default-jdk

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.13.0
  - export PATH="$HOME/.yarn/bin:$PATH"
  - yarn install --frozen-lockfile

jobs:
  include:
    - language: node_js
      os: linux
      services:
        - xvfb
      node_js: 14.15
      stage: React Native
      name: React Native Tests
      install:
        - sudo apt-get update
        - sudo apt-get install -y libappindicator1
      script:
        - yarn lint
        - yarn test
        - bash ./scripts/snyk.sh
    - language: objective-c
      os: osx
      osx_image: xcode12.5
      stage: E2E Tests
      name: iOS
      install:
        - gem install xcpretty
        - gem install cocoapods
        - yarn build
        - cd e2e
        - yarn install
        - cd ios && pod install --repo-update && cd ..
        - echo -e "CLIENT_ID=${CLIENT_ID}\nISSUER=${ISSUER}\nREDIRECT_URI=${REDIRECT_URI}\nLOGOUT_REDIRECT_URI=${LOGOUT_REDIRECT_URI}" > .env
        - cat .env
        - cd ..
      script:
        - set -eo pipefail && xcodebuild -workspace e2e/ios/E2EOktaReactNative.xcworkspace -scheme E2EOktaReactNative -destination 'platform=iOS Simulator,OS=latest,name=iPhone 11' -sdk iphonesimulator clean test | tee xcodebuild.log | xcpretty
        - cat xcodebuild.log
    - language: objective-c
      os: osx
      osx_image: xcode12.5
      stage: Unit Tests
      name: iOS
      install:
        - gem install xcpretty
        - gem install cocoapods
        - pod install --project-directory=ios --repo-update
      script:
        - set -eo pipefail && xcodebuild -workspace ios/ReactNativeOktaSdkBridge.xcworkspace -scheme "ReactNativeOktaSdkBridge" -destination "platform=iOS Simulator,OS=latest,name=iPhone 11" clean test | xcpretty

notifications:
  slack:
    on_pull_requests: false
    on_success: never
    on_failure: always
    rooms:
     - secure: llwX53NUK+utV8UEFtzXTt5OuhXg+rx/Y3beFNBp7nwASI1k1cpYk8gHhDM6Kj14ydDGtwYd6bL4QcKWWzrA8Hc7EPpXyfgfxF7lDVxIbm62E3rSwqf2XpoNAo0EzcPvjwAGsQnydQUiQR7tR0JTzaHTX+685XreQeQyZXiIB9eWxXCaAkVCRfuoxngcAOXNw1IRMzaRt0pyYbu4qZ0RAA4bLwjlc5RqhAUllGszxX7KCSIJwAa4kXIYT/EsBC1mKeyCdvihvFYp6rPjTDL/J8w8+r9v9SVq8n6/LMcRdEpl8gOIQ3+oLzB1UcX5zWItrVqSXZ221d6z432Vu+mR5olhbcxULkfVZwtTW6tiR/5JkGxI08k5aZAmZupOjMlJN2UJtBxkAUhthCLKPXsrwU0RnW7pOeiH5CKECCsT9S06ZW2VvEJ+CZ1WOqzYtp18Kcq/VqbFqX/ubEy80m0YgnDugLGcwEUrDZFn44g+hu2B59TJMudeOTWEEk6bdy+XTNY4Ufd0uqCoHwBZQICKIXqhxMuxcRYdbFeguTzwu1R7OYagwL9S0PC/RoqrhoiN3vs/KTEVZp7yZLZautT/0cbuDQzfZzJ6RXJZzzNmrQ7Wof9lrNObJgDDdL+dZW9Umv7ELpTjqJicOlih6USjtMq+e+tBiUl/mHMFVnxbZX8=
